* {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: color 1000ms, background-color 200ms;
}

body {
  margin: 0;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  color: #ffffff
}

.app-container.white-theme {
  background-color: #eee;
  color: #000000;
}

p, span, h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  color: #4EC1F5
}

a:visited {
  color: #4EC1F5
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline-block-container > * {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.data-points {
  width: 100%;
}

.data-points.old {
  opacity: 0.3;
}

.theme-switcher {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
}

